.main{
    background-color: blanchedalmond;
}
.caption {
    background: #f1aeae;
    text-align: center;
}
.images {
    float: right;
    margin: 20px 20px 20px 20px;
    height: 450px;
}
.bio {
    font-size: 24px;
    line-height:30px;
    text-indent: 1.5em;
}
.list {
    font-size: 20px;
}
.img-films{
    height:423px;
    width:300px;
}
a{
    text-decoration:none;
    color: black;
}
a:hover{
    color:red;
}
